/*############ 초기화 ############*/
	*{margin:0; padding:0;}
	li{list-style-type:none;}
	a:link, a:visited{text-decoration:none;}
	img{border:none;}

/*############# 버리는 영역#####################*/
h1,h2{position:absolute; left:-9999px; overflow:hidden; width:1px; height:1px; line-height:0; font-size:1px;}