/*############### 폰트 영역################*/
@font-face{font-family:"exo"; src:url("font/Exo2-Regular.woff");}
@font-face{font-family:"saria"; src:url("font/Saira-Regular.woff");}
@font-face{font-family:"pontano"; src:url("font/PontanoSans-Regular.woff");}
@font-face{font-family:"oswald"; src:url("font/Oswald.woff2");}
@font-face{font-family:"nikeshop"; src:url("font/nikeShop.woff");}